* {
    margin: 0; padding: 0;
}
li {
    display:inline-block;
    list-style: none outside none;
}
html, body {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    line-height: 1em;
    font-weight: 300;
}
.message {
    width:100%;
    background-color: steelblue;
    height: 50px;
    padding: 2px;
    text-align: center;
    opacity: 0.8;
    color: white;
    display: hidden;
}
#difficulty {
    color:darkred;
}
#container {
    width: 820px;
    min-height: 400px;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 1px 8px #bbb;
    background: #f7f7f7;
}
#logo{
    padding: 15px;
    background: #ddd;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 1px 2px #aaa;
}
#logo > a:link, #logo > a:visited, #logo > a:active, #logo > a:hover {
    margin: 0px; padding:0px;
    text-decoration: none;
    color: black;
}
#cloud-container {
    padding:10px;
}
#cloud-svg {
    
}
.instructions {
    display: none;
    padding: 0px 20px;
}
.fb-like-container {
  position: relative;
  padding: 0;
  padding-top: 20px;
}
.fb-like {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
      /*transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -moz-transform: scale(1.5);*/
}
.input-container {
    padding: 10px 20px;
    outline: 0;
    margin: 0 auto;
    display: block;
}
.input-box, .input-button, .input-button:active, .input-button:visited {
    display: block;
    box-sizing: border-box;
    width: 250px;
    border: 2px solid #ddd;
    margin: 10px auto;
    padding: 10px;
    background: white;
    font-size: 1em; 
    color: steelblue;
}
.input-box {
    text-align: center;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 0px;
}
.input-button, .input-button:active, .input-button:visited {
    appearance: none;
    background: #f7f7f7;
    color: steelblue;
    font-weight: 700;
    border-radius: 0px 0px 3px 3px;
    float: left;
    width: 50%;
}
.input-button:hover {
    border: 2px solid steelblue;
}
.important {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}  
text { 
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    cursor: pointer; 
    cursor: hand; 
}
/*
in materialize there is a silly greenish colour, this overrides it, then the js handles giving
focus back to the input box
materialize:
button:focus {
  outline: none;
  background-color: #2ab7a9; }
*/
button:focus {
  outline: none;
  background-color: #f7f7f7; 
}